:root {
    --dark: rgba(13, 15, 2, 0.733);
    --lightgray: lightgray;
    --reggray:rgba(128, 128, 128, 0.507);
    --white: rgb(255, 255, 255);
    --red: rgba(90, 13, 13, 0.774);
    --transgray: rgba(13, 15, 2, 0.589);
  }
body {
        overflow: auto;
        scroll-behavior: smooth;
        padding:0;
        margin:0;
        height: 100vh;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        background: -webkit-linear-gradient(to right, var(--reggray), var(--dark));
        background: linear-gradient(to left,var(--dark), var(--lightgray));
  }
  h1 {
    font-size: xx-large;
    color:black;
    text-align: center;
  }

  p {
    text-align: center;
    font-size: larger;
    color:black;
  }
  ul{
    text-align:inherit;
  }
  /* Used web.dev for reference */
  li {
    padding-inline-start: 1ch;
    list-style-type:circle;
  }
.about-section {
    padding: 10px;
    text-align: inherit;
    background-color: var(--reggray);
    color: var(--red);
  }
  .custom {
    display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
 
  }
  .column {
    flex: 33.33%;
    width: 100%;
    border: solid;
    border-color: var(--red);
}
  img{
    width: 100%;
}

/* FOOTER */
footer {
  padding: 0;
  text-align: center;
  background:var(--transgray);
  border-top: 2px solid var(--red);
  box-shadow: 0 20px 35px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  margin-top: 5rem;
}
/* RESPONSIVE LAYOUT FOR WHEN THE SCREEN IS LESS THAN 960PX WIDE, MAKE THE IMAGES START WRAPPING */
@media screen and (max-width: 960px) {
  .custom  {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  }
}
