/* CSS variables were created at the root of the document to be used throughout the style sheet */
:root {
  --dark: rgba(13, 15, 2, 0.733);
  --lightgray: lightgray;
  --reggray:rgba(128, 128, 128, 0.507);
  --white: rgb(255, 255, 255);
  --red: rgba(90, 13, 13, 0.774);
  --transgray: rgba(13, 15, 2, 0.589);
  --darkgray2: rgb(70, 69, 66);
}  
* {
  box-sizing: border-box;
}  
/* GENERAL STYLE ADDED*/
body {
  overflow: auto;
  padding:0;
  margin:0;
  height: 200vh;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background: -webkit-linear-gradient(to right, var(--reggray), var(--dark));
  background: linear-gradient(to left,var(--dark), var(--lightgray)); 
}
/* HEADER-HERO STYLES ADDED*/
#heroBlock {
  background-image: url("../images/Corvette-cleaning\ hero.gif");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: var(--dark);
  height: 100vh;
  border-bottom: var(--red) solid 2px;
  box-shadow: 0px 20px 80px;
}

.card-style {
  width: 200px;
  height: 250px;
  border: 3px solid black;
  background-color: rgba(90, 13, 13, 0.774);
  margin-top: 3rem;
  margin: 1rem 1rem 1rem 1rem;
  box-shadow: 0 20px 35px;
}

#forecast {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.topNavBar {
 width: 100%;
 background-color:var(--darkgray2); 
 overflow-x: hidden;
 box-shadow: 0 20px 35px;
 border-bottom: var(--red) solid 2px;
 position: sticky;
 top: 0px;
 z-index: 1;
}

.topNavBar ul li a {
  float: left;
  display: block;
}

li, ul {
  padding: 0;
}

.navLinks {
  list-style: none;
  margin:0;
}

/* Right-aligned link Styled */
.topNavBar a.rightside {
  float: right;
}

a {   
 color: var(--red);
 text-decoration: none;
 font-size: 20px;
 line-height: 5rem;
 padding: 5px;
 display: block;
 text-align: left;
}

 ul li .topNavBar, a:hover, li:focus-visible {
  background:var(--reggray);
  transition: 0.8s;
}
/* MAIN SECTION STYLES ADDED */

.titleBlock {
  margin-top: 5rem;
}

h2 {
  font-size: xx-large;
  text-align: center;
}

p, h3 {
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  padding: 10px;
}

.formContainer {
  background-color:var(--dark);
  width: 50%;
  overflow: hidden;
  margin:auto;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 20px 35px;
  margin-left: auto;
}

.containerContact{
  overflow: hidden;
}

#contactInput {
  margin:0 30% 0 30%;
}

#map {
  height: 60vh;
  width: 60%;
  margin:auto;
  box-shadow: 0 20px 35px ;
  overflow: hidden;
}

/* 
 * Optional: Makes the sample page fill the window. 
 */
/* html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

#description {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
}

#infowindow-content .title {
  font-weight: bold;
}

#infowindow-content {
  display: none;
}

#map #infowindow-content {
  display: inline;
}

.pac-card {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  font-family: Roboto;
  padding: 0;
}

#pac-container {
  padding-bottom: 12px;
  margin-right: 12px;
}

.pac-controls {
  display: inline-block;
  padding: 5px 11px;
}

.pac-controls label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 400px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

#title {
  color: #fff;
  background-color: #4d90fe;
  font-size: 25px;
  font-weight: 500;
  padding: 6px 12px;
}

#target {
  width: 345px;
}

/* FOOTER */
#footercontact {
padding: 0;
text-align: center;
background:var(--transgray);
border-top: 2px solid var(--red);
margin-top: 20rem;
box-shadow: 0 20px 35px;
bottom: 0;
width: 100%;
overflow: hidden;
}

footer {
  padding: 0;
  text-align: center;
  background:var(--transgray);
  border-top: 2px solid var(--red);
  margin-top: 5rem;
  box-shadow: 0 20px 35px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
/* RESPONSIVE LAYOUT FOR WHEN THE SCREEN IS LESS THAN 490PX WIDE, MAKE THE NAVIGATION LINKS STACK ON TOP OF EACH OTHER */
@media screen and (max-width: 490px) {
  .topNavBar a {
    float: none;
    width: 100%;
    text-align: center;
    line-height: 1rem;
    padding: 2px;
    font-size: 15px;
  }
}
/* MAKES USER SCROLL SMOOTHLY */
@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
/* RESPONSIVE LAYOUT FOR WHEN THE SCREEN IS LESS THAN 960PX WIDE, MAKE THE IMAGES START WRAPPING */
@media screen and (max-width: 600px) {
  #forecast  {
    display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  }
}

