/* CSS variables were created at the root of the document to be used throughout the style sheet */
:root {
    --dark: rgba(13, 15, 2, 0.733);
    --lightgray: lightgray;
    --reggray:rgba(128, 128, 128, 0.507);
    --white: rgb(255, 255, 255);
    --red: rgba(90, 13, 13, 0.774);
}    

/* UNIVERSAL STYLE ADDED */
* {
    box-sizing: border-box;
  }
/* GENERAL STYLE ADDED*/
body,html {
    overflow: auto;
    padding:0;
    margin:0;
    height: 100vh;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: -webkit-linear-gradient(to right, var(--reggray), var(--dark));
    background: linear-gradient(to left,var(--dark), var(--lightgray)); 
}
/* HEADER-HERO STYLES ADDED*/
#heroBlock {
    background: url("../images/Corvette-cleaning\ hero.gif") no-repeat center;
    background-size: cover;
    background-position: center right;
    color: var(--dark);
    padding: 50px;
    height: 30%;
}

.sideBar {
   background-color: var(--dark); 
   float: left;
   margin-right: 3rem; 
   height: 100%;
   position: sticky;
   text-align: center;
} 

 .navLinks {
    list-style: none;
 }

 a {   
   color: var(--red);
   text-decoration: none;
   font-size: large;
   line-height: 6rem;
   padding: 20px 40px;
   border: 2px solid ;
}
/* MAIN SECTION STYLES ADDED */
h2, .contactInput {
    margin-left: 50%;
}

h2 {
    font-size: xx-large;
}
#map {
    height: 30%;
    width: 60%;
    float:right;
    margin-right: 50px;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
  #description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
  }
  
  #infowindow-content .title {
    font-weight: bold;
  }
  
  #infowindow-content {
    display: none;
  }
  
  #map #infowindow-content {
    display: inline;
  }
  
  .pac-card {
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    margin: 10px;
    padding: 0 0.5em;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
    font-family: Roboto;
    padding: 0;
  }
  
  #pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
  }
  
  .pac-controls {
    display: inline-block;
    padding: 5px 11px;
  }
  
  .pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
  }
  
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  
  #title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
  }
  
  #target {
    width: 345px;
  }

  
